.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-header {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: inherit;
  }
}
